<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Предсказания для Титаника</h1>
    {% if message %}
    <p>{{ message }}</p>
    {% endif %}
    <form action="" method="post">
        <p>
            <label for="age">Age</label>
            <input type="text" name="age">
        </p>
        <p>
            <label for="pclass">Pclass</label>
            <input type="text" name="pclass">
        </p>
        <p>
            <label for="sex">Sex</label>
            <input type="text" name="sex">
        </p>
        <p>
            <input type="submit">
        </p>

    </form>
</body>
</html>